<mat-card class="card-shell mat-elevation-z0">
  <mat-card-header color="primary">
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cardx-md cardy-scrollable">
    <div fxLayout="column" class="wrapper-card">

      <div fxLayout="column" class="form">

        <div fxLayout="row" [formGroup]="formGroup" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">

          <mat-form-field fxFlex color="accent">
            <input autocomplete="off" matInput type="text" placeholder="Description" formControlName="description"
              required>
          </mat-form-field>

          <mat-form-field fxFlex color="accent">
            <mat-label>État</mat-label>
            <mat-select formControlName="state" required>
              <mat-option *ngFor="let statekey of statekeys" [value]="statekey">{{states[statekey]}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- 
          <br>Dirty: {{ formGroup.dirty }}
          <br>Touched: {{ formGroup.touched }}
          <br>Valid: {{ formGroup.valid }}
          <br>Value: {{ formGroup.value | json }} \
        -->
        </div>
      </div>

      <app-action-notification [actionNotification]="actionNotification"></app-action-notification>
     
      <mat-action-row class="action-shell py-3" fxLayout="row" fxLayoutAlign="end center">
        <button mat-flat-button color="primary"   [class.spinner]="isOneTimeSaving && !isRefresh"  [disabled]="formGroup.invalid || isOneTimeSaving" 
         (click)="onClickSave()" preventDoubleClick (throttledClick)="logThrottledClick()" >SAUVEGARDER</button>
        <button mat-stroked-button color="warn" (click)="onClickCancel()">SORTIR</button>
      </mat-action-row>
    </div>

  </mat-card-content>
</mat-card>




<mat-card class="card-shell loading">

</mat-card>