<mat-sidenav-container class="mat-drawer-transition sidenav-container" autosize>
  <mat-sidenav  #sidenav [opened]="!breakpointService.isLtMdLtSm"
  [mode]="breakpointService.isLtMdLtSm ? 'over' : 'side'" role="navigation"
   
  class="sidenav sidenav-shell">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
      <a routerLink="/">
        <img src="../../assets/ppsync.svg" class="logo" alt="PPSYNC" /><sub class="logo-sub"></sub>
      </a>
    </mat-toolbar>

    <mat-nav-list>
      <mat-accordion class="app-nav-accordion-shell">

        <mat-nav-list routerLink="/dashboard"  (click)="breakpointService.isLtMdLtSm && sidenav.toggle()">

          <a mat-list-item>
            <div fxFlex="25" class="icon" fxLayoutAlign="start center">
              <mat-icon matSuffix>dashboard</mat-icon>
            </div>
            <div fxFlex="75"> DASHBOARD </div>
          </a>
        </mat-nav-list>

        <!-- PROCEED -->
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <div fxFlex="25" class="icon" fxLayoutAlign="center center">
                  <mat-icon matSuffix class="fa" fontSet="fas" fontIcon="fa-project-diagram"></mat-icon>
                </div>
                <div fxFlex="75"> PROCEDER </div>


              </div>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="process/register"  (click)="breakpointService.isLtMdLtSm && sidenav.toggle()">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> Enregistrer </div>
            </a>
            <a mat-list-item routerLink="process/deliver" (click)="breakpointService.isLtMdLtSm && sidenav.toggle()">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> Delivrer </div>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>



        <!-- ADMIN -->
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <div fxFlex="25" class="icon" fxLayoutAlign="center center">
                  <mat-icon matSuffix>
                      admin_panel_settings
                  </mat-icon>
                </div>
                <div fxFlex="75"> ADMIN </div>


              </div>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/admin/user" (click)="breakpointService.isLtMdLtSm && sidenav.toggle()">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> Utilisateur </div>
            </a>
         
            <a mat-list-item routerLink="/admin/motive" (click)="breakpointService.isLtMdLtSm && sidenav.toggle()">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> Motifs </div>
            </a>
          
          
            <a mat-list-item routerLink="/admin/profile" (click)="breakpointService.isLtMdLtSm && sidenav.toggle()">
            <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> Profil Util. </div>
            </a>
     
            <a mat-list-item routerLink="/admin/doctype" (click)="breakpointService.isLtMdLtSm && sidenav.toggle()">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> Type Docu. </div>
            </a>


          </mat-nav-list>
        </mat-expansion-panel>

        <!-- RAPORT -->
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <div fxFlex="25" class="icon" fxLayoutAlign="center center">
                  <mat-icon matSuffix>
                      analytics
                  </mat-icon>
                </div>
                <div fxFlex="75"> RAPPORT </div>

              </div>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/admin/user" (click)="breakpointService.isLtMdLtSm && sidenav.toggle()">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> Passport </div>
            </a>
         
          </mat-nav-list>
          <mat-nav-list>
            <a mat-list-item routerLink="/admin/user" (click)="breakpointService.isLtMdLtSm && sidenav.toggle()">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> Log </div>
            </a>
         
          </mat-nav-list>
        </mat-expansion-panel>


      </mat-accordion>
    </mat-nav-list>



  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="toolbar-shell" color="primary">
      <div class="left-icon">
        <button mat-icon-button (click)="sidenav.toggle()" matTooltip="BASCULER LE MENU" matTooltipPosition="above">
          <mat-icon class="mat-icon-hover">menu</mat-icon>
        </button>
        <button mat-icon-button (click)="onToggleFullscreen()" matTooltip="BASCULER PLEIN D'ÉCRAN"
          matTooltipPosition="above">
          <mat-icon  class="mat-icon-hover" *ngIf="fullscreenService.toggleFullscreenState()">fullscreen_exit</mat-icon>
          <mat-icon class="mat-icon-hover" *ngIf="!fullscreenService.toggleFullscreenState()">fullscreen</mat-icon>
        </button>
      </div>

      <div class="right-icon" fxLayout="row" fxLayoutAlign="space-evenly center center" fxLayoutGap="16px">


        <mat-icon  matTooltip="NOTIFICATION NON LUE"
        matTooltipPosition="above" class="mat-icon-hover notification" matBadgePosition="after" matBadgeOverlap="true" matBadgeColor="warn" matBadge="15"  [matBadgeHidden]="false"> notification_important</mat-icon>


        <button mat-button [matMenuTriggerFor]="menu" fxShow.lt-md="false" fxShow.gt-sm="true">
          <mat-icon class="mat-icon-hover">account_circle</mat-icon>
          <span class="ml-2">username</span>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" fxShow.lt-md="true" fxShow.gt-sm="false">
          <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-cog"></mat-icon>
            <span>Profile</span>
          </button>

          <button mat-menu-item  routerLink="/login" >
            <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-sign-out-alt"></mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <app-outlet-wrapper></app-outlet-wrapper>
  </mat-sidenav-content>
</mat-sidenav-container>