<mat-sidenav-container class="mat-drawer-transition sidenav-container" autosize>
  <mat-sidenav #sidenav [(opened)]="opened" [mode]="isLtMd ? 'over' : 'side'" role="navigation"
    class="sidenav sidenav-shell">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
      <a routerLink="/">
        <img src="../../assets/gear.svg" class="logo" alt="PPSYNC" /><sub class="logo-sub"></sub>
      </a>
    </mat-toolbar>

    <mat-nav-list>
      <mat-accordion class="app-nav-accordion-shell">

        <mat-nav-list routerLink="/dashboard">

          <a mat-list-item>
            <div fxFlex="25" class="icon" fxLayoutAlign="start center">
              <mat-icon matSuffix>dashboard</mat-icon>
            </div>
            <div fxFlex="75"> DASHBOARD </div>
          </a>
        </mat-nav-list>

        <!-- PROCEED -->
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <div fxFlex="25" class="icon" fxLayoutAlign="center center">
                  <mat-icon matSuffix class="fa" fontSet="fas" fontIcon="fa-project-diagram"></mat-icon>
                </div>
                <div fxFlex="75"> PROCEDER </div>


              </div>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="process/register">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> ENREGISTRER </div>
            </a>
            <a mat-list-item routerLink="process/deliver">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> DELIVRER </div>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>



        <!-- ADMIN -->
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <div fxFlex="25" class="icon" fxLayoutAlign="center center">
                  <mat-icon matSuffix>
                      admin_panel_settings
                  </mat-icon>
                </div>
                <div fxFlex="75"> ADMIN </div>


              </div>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/admin/user">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> UTILISATEUR </div>
            </a>
         
            <a mat-list-item routerLink="/admin/motive">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> MOTIFS </div>
            </a>
          
          
            <a mat-list-item routerLink="/admin/profile">
            <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> PROFILE </div>
            </a>
     
            <a mat-list-item routerLink="/admin/doctype">
              <div fxFlex="25" class="icon" fxLayoutAlign="start center" routerLinkActive="active">
              </div>
              <div fxFlex="75"> TYPE DOCU. </div>
            </a>


          </mat-nav-list>
        </mat-expansion-panel>



      </mat-accordion>
    </mat-nav-list>



  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="toolbar-shell" color="primary">
      <div class="left-icon">
        <button mat-icon-button (click)="sidenav.toggle()" matTooltip="BASCULER LE MENU" matTooltipPosition="above">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button (click)="onToggleFullscreen()" matTooltip="BASCULER PLEIN D'ÉCRAN"
          matTooltipPosition="above">
          <mat-icon *ngIf="fullscreenService.toggleFullscreenState()">fullscreen_exit</mat-icon>
          <mat-icon *ngIf="!fullscreenService.toggleFullscreenState()">fullscreen</mat-icon>
        </button>
      </div>

      <div class="right-icon" fxLayout="row" fxLayoutAlign="space-evenly center center">
        <button mat-icon-button matBadge="10+" matBadgePosition="after" matBadgeColor="warn" matBadgeOverlap="true">
          <mat-icon>notification_important</mat-icon>
        </button>

        <span class="vertical-divider"></span>

        <button mat-button [matMenuTriggerFor]="menu" fxShow.lt-md="false" fxShow.gt-sm="true">
          <mat-icon>account_circle</mat-icon>
          <span class="ml-2">username</span>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" fxShow.lt-md="true" fxShow.gt-sm="false">
          <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-cog"></mat-icon>
            <span>Profile</span>
          </button>

          <button mat-menu-item>
            <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-sign-out-alt"></mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <app-outlet-wrapper></app-outlet-wrapper>
  </mat-sidenav-content>
</mat-sidenav-container>