<div fxLayout="row" fxLayoutAlign="center center">
	<div class="msg bg-gray-200 border-gray-300 border shadow p-5 mt-5">
		<div class="welcome mb-3">
			<div class="mb-3">Bienvenue à <span class="project"> {{projectName}} .</span></div>
			Ce système et ses ressources sont la propriété de l'<span class="project">{{propertyOf}} </span> et sont à
			l'usage exclusif du personnel autorisé par cette entité. Une mauvaise utilisation peut entraîner des
			sanctions disciplinaires et / ou judiciaires. Toutes les activités sur ce système sont enregistrées et
			surveillées.
		</div>
		<!-- 		<button mat-flat-button (click)="proceed()" color="primary" >
			<mat-icon mat-icon>navigate_before</mat-icon>
			PROCEDER
		</button> -->
	</div>
</div>