<div fxLayout="row" fxLayoutAlign="center center">
	<div class="msg bg-gray-200 border-gray-300 border shadow p-5">
		<div class="welcome mb-3">
			<div class="mb-3">Welcome to <span class="project"> {{projectName}} .</span></div>
			This system and its resources are the property of <span class="project">{{propertyOf}} </span> and are for
			the
			exclusive use of personnel authorized by this entity.
			Improper use may result in disciplinary and/or legal actions. All activity on this system is being recorded
			and monitored.
		</div>
<!-- 		<button mat-flat-button (click)="proceed()" color="primary" >
			<mat-icon mat-icon>navigate_before</mat-icon>
			PROCEDER
		</button> -->
	</div>
</div>