<mat-card class="card-shell">
  <mat-card-header color="primary">
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="column">

     

    </div>

  </mat-card-content>
  <mat-action-row class="action-shell py-3" fxLayout="row" fxLayoutAlign="end center">
    <button mat-flat-button color="primary">RECHERCHER</button>
    <button mat-stroked-button color="warn" (click)="onClickCancel()">SORTIR</button>
  </mat-action-row>
</mat-card>

<mat-card class="card-shell loading">

</mat-card>