.wrapper {
  height: 100%;
  width: 100%;
  background-image: url("../../../assets/pp8.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 5s;

}

.left-pane {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 12%);
}

.right-pane {
  background: var(--primary-color);
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  position: relative;
}

.form {
  margin: 40px;
  position: absolute;
}

.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}

.left-pane .project-name {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}

.left-pane .project-name span {
  font-size: 1rem;
  font-weight: 500;
}

.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}

.btn-block {
  line-height: 2.5rem;
  width: 100%;
}

.full-width-input {
  width: 100%;
}

.right-pane .header {
  height: 50px;
  color: black;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  }

.btn-center {
  text-align: center;
}

.hide-lt-sm {
  display: none;
}

.show-lt-sm {
  display: block;
}
