<app-loader></app-loader>

<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">

  <div class="container box">
    <div class="left-pane rounded" ngClass.lt-sm="hide-lt-sm" fxFlex="50">

      <!-- <div class="project-name">{{projectName}}<span>{{projectVersion}}</span></div> -->
      <div class="project-name"><img src="../../../assets/ppsync-black.svg"></div>
      <div class="eula">En vous connectant, vous acceptez les conditions générales de {{projectName}} .
      </div>
    </div>


    <div class="right-pane rounded theme-alternate" fxFlex="50" fxFlex.lt-sm="100">

      <form class="form mt-5" [formGroup]="loginForm">
        <mat-form-field color="primary" class="full-width-input mb-0">
          <mat-label>Email</mat-label>
          <input matInput name="identifier" type="identifier" formControlName="identifier"  value="carteasy@gmail.com" required>
          <mat-error>
            Veuillez Entrer votre email
          </mat-error>
        </mat-form-field>

        <mat-form-field color="accent" class="full-width-input">
          <mat-label>Mot de passe</mat-label>
          <input autocomplete="off" matInput [type]="hide ? 'password' : 'text'" name="password"
            formControlName="password" value="develop" required>

          <button color="accent" mat-icon-button matSuffix type="button" (click)="hide = !hide"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>
            Veuillez Entrer Mot de passe
          </mat-error>
        </mat-form-field>

       <app-action-notification [actionNotification]="actionNotification" ></app-action-notification>

             <div class="my-4">
          <button mat-flat-button color="accent" class="btn-block rounded-lg" (click)="onLogin()">
            Se Connecter
          </button>
        </div>

        <div class="row btn-center pt-2">
          <button color="accent" type="button" mat-icon-button (click)="openBottomSheet()">
            <mat-icon class="mat-icon-hover">settings</mat-icon>
          </button>


          <mat-menu #menu="matMenu">

            <button type="button" mat-menu-item>
              <span>Forget Password?</span>
            </button>

            <button type="button" mat-menu-item>
              <span>Sign up for an Account</span>
            </button>

          </mat-menu>

        </div>
      </form>
    </div>
  </div>
</div>