<mat-card class="card-shell">
  <mat-card-header color="primary">
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="column" fxLayoutAlign="start center" class="pb-3" > 

      <div class="py-3 border-b  border-gray-200">
        <h2 style="color: #183a7e;">
          This Project Claims to Provide:
        </h2>

        <ul class="list">
          <li>Mobile First (Responsive design desktop, tablet, Mobile)</li>
          <li>Secure User login, control and security</li>
          <li>Permission and User management</li>
          <li>Effective management and control of Passport request</li>
          <li>Massive import From CSV,EXCEL </li>
          <li>Dashboard with detail(statistic) about request
          <li>Realtime Request statistic 
            <ul class="sub-list">
              <li>Passport Available</li>
              <li>Passport Delivered</li>
              <li>Passport Abandoned</li>
              <li>Request Sent To Washington</li>
            </ul>
          </li>
          <li>Report of Request and user log</li>
          <li>Export Report in CSV, EXCEL</li>
        </ul>

      </div>



      <!--       This project claims to provide :
      Mobile First (Responsive design desktop, tablet, Mobile)
      
      Secure User login, control and security
      
      Permission and User management
      
      Effective management of Passport request
      
      Dashboard with detail about request
      Passport Available, 
      Passport Delivered, 
      Passport Abandoned, 
      Request Sent To Washington
      
      Report of Request and user log
      Export Report in PDF -->


      <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
        APP Develop by <span class="font-medium p-1">LCRTDEV</span>
      </div>

    </div>

  </mat-card-content>
  <mat-action-row class="action-shell" fxLayout="row" fxLayoutAlign="center center">
    <button mat-stroked-button color="primary" (click)="onClickOK()">OK</button>
  </mat-action-row>
</mat-card>

<mat-card class="card-shell loading">

</mat-card>