// @import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./theme.scss";
@import "./scss/normalize.scss";
// @import "./scss/tailwind.min.css";

// @import "./scss/bootstrap-utilities.scss";

/* @import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";
 */

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
/*   background-image: url("/src/assets/pp8.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
} 

:root {
  --loading-shade: rgba(255, 255, 255, 0.95);
  --nav-width: 200px;
  --toolbar-height: 64px;
  --footer-height: 30px;
}

.btn-round-corner {
  border-radius: 25px !important;
}

.success {
  background-color: #2d735c !important;
  color: white;
  font-weight: 500;
}

.title-header {
  font-weight: 700 !important;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.mat-icon {
  height: auto !important;
}

.mat-tab-body.mat-tab-body-active {
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo {
  height: 32px;
}

.app-nav-accordion-shell {
  .mat-expansion-panel {
    border-radius: 0px !important;
    box-shadow: none !important;

    &.mat-expansion-panel-spacing {
      margin: 0px;
    }

    .mat-expansion-panel-body {
      padding: 0px;
    }

    .mat-expansion-panel-header {
      // height: 40px;
      // padding: 0px 24px 0px 16px;
      // transition: all 500ms ease-out;

      ::after {
        border-color: #808080;
      }
    }
    .mat-expansion-panel-header:hover {
      // background-color: rgba(76, 146, 203, 0.37);
    }

    .mat-expansion-panel-header-title {
      // text-transform: uppercase;
      // color: rgb(255, 255, 255);
      font-size: 0.8rem;
      font-weight: 500;
    }

    .mat-divider {
      // border-top-color: rgb(0, 0, 0);
      // border-top-width: 1px;
      // border-top-style: dotted !important;
    }

    .mat-list-item:hover {
      // background-color: rgba(76, 146, 203, 0.37);
    }
    .mat-list-item {
      transition: all 350ms ease-out;
    }
  }

  .mat-list-item {
    // color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 500;
  }
  .mat-list-item span {
    // padding-left: 2.5rem;
  }

  .fas {
    font-size: large;
    line-height: 1.5;
  }
}

span.submenu.active ::before {
  content: "";
  right: 80px;
  top: 6px;
  pointer-events: none;
  /* border: 1px solid #808080; */
  /* padding: 2px; */
  background-color: #272727;
  padding: 4px;
  height: 4px;
  width: 4px;
  position: absolute;
}

.card-shell {
  padding: 0 !important;

  .mat-card-header .mat-card-title {
    font-size: 0.8rem;
  }

  .mat-card-header .mat-card-title {
    text-transform: uppercase;
    margin: 8px;
  }

  .mat-card-header {
    align-items: center;
    align-content: center;
    background-color: rgb(238, 238, 238);
  }

  .mat-card-content {
    padding: 1rem;
    margin-bottom: 0 !important;
  }
}

.cardx-lg {
  min-width: 80vw;
}

.cardx-md {
  min-width: 55vw;
}

.cardx-sm {
  min-width: 50vw;
}

.cardy-lg {
  min-height: 80vw;
}

.cardy-md {
  min-height: 50vw;
}

.cardy-sm {
  min-height: 50vw;
}

.cardx-scrollable {
  max-width: 80vw;
  overflow-x: auto;
}

.cardy-scrollable {
  max-height: 80vh;
  overflow-y: auto;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0 !important;
}

.app-dialog .mat-dialog-container {
  padding: 0 !important;
}

.table-shell {
  overflow-x: auto;

  .mat-column-actions {
    min-width: 150px;
    padding: 0 !important;
  }

  /*   
.table{
  min-width: 1024px;
} */

  .mat-form-field {
    font-size: 14px;
  }

  tr.mat-header-row {
    height: 42px !important;
  }

  th.mat-header-cell {
    text-align: left;
    font-size: 0.75rem;
    color: #131313;
    text-transform: uppercase;
  }

  td.mat-cell {
    text-align: left;
  }

  .mat-cell,
  .mat-header-cell {
    padding-left: 0.5rem;
  }

  .mat-cell {
    // padding: 0 0.25rem !important;
    border-left: 1px dotted #dadada;
    border-right: 1px dotted #dadada;
  }

  .mat-header-row {
    background-color: rgb(246 246 246);
    text-transform: uppercase;
    font-size: 0.75rem;
    border-left: 1px dotted #dadada;
    border-right: 1px dotted #dadada;
  }

  .mat-sort-header-container {
    padding-left: 18px !important;
  }

  tr:hover {
    background-color: var(--primary-lighter-color);
  }

  tr {
    transition: all 500ms ease-out;
  }

  tr:nth-child(even) {
    border-color: #fffadd;
    background-color: #f0f5f5;
    color: black;
  }

  /*   .table-container {
    width: 100%;
    overflow-x: auto;
  } */

  .mat-row {
    height: auto;
  }

  /* mat-table */
  mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
    // font-weight: bold;
  }

  .left-align-cell.mat-cell {
    text-align: left;
  }

  .left-align-header > .mat-sort-header-container {
    justify-content: flex-start !important;
    padding-left: 0px !important;
  }

  .mat-paginator-page-size {
    align-items: center;
  }
}

.sidenav-shell {
  width: var(--nav-width);

  .mat-list-base {
    padding-top: 0;
  }

  .mat-list-item.active {
    background-color: #fff4cb;
    // background-color: var(--primary-lighter-color);
    // border-left: 4px solid var(--primary-color);
    border-left: 4px solid #f4c215;
  }
}

.toolbar-shell {
  .mat-badge-content {
    // top: -20px;
    //  right: -10px;
    font-size: xx-small;
  }
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.outlet-wrapper {
  background-image: url("/assets/pp9.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100% - (var(--toolbar-height) + var(--footer-height)));
}

.mat-icon-hover {
  transition: all 250ms ease-out;
}

.mat-icon-hover:hover {
  color: var(--primary-lighter-color);
  cursor: pointer;
}

.redred {
  font-size: 2rem !important;
  color: red;
  border: 1px solid red;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    // font-size: 3rem !important;
    // border: 1px solid red;
  }
  .inner-outlet {
    padding: 0 !important;
  }

  .app-full-bleed-dialog .mat-dialog-container {
    padding: 0 !important;
  }
  .app-full-bleed-dialog {
    min-width: 90vw !important;
    min-height: 90vh !important;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 10px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 30px;
  }
}

/* 
.mat-menu-content{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
 */




 @keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}


span.enfasis {
  font-weight: 500;
  color: #980505;
}


.hide {
  display: none !important;
}